# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/tmp

# Data
/data

# Experiments directory
/experiments

# Out directory
/out

# pretrained_weights
pretrained_weights

/.idea

